<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{/layout}"
>

<section layout:fragment="content" class="section_write">
    <form method="POST">
        <div class="input_1">
            <input name="isbn"/>
            <input name="title">
        </div>
        <div class="input_2">
            <input name="rdate"/>
            <input name="stime"/>
            <input name="etime"/>
        </div>
        <div class="input_title">
            <input name="rating"/>
        </div>
        <div class="input_content">
            <input name="comment"/>
        </div>
        <div class="btn_box">
            <button type="button" class="btn_save">저장</button>
            <button type="button">새로작성</button>
            <button type="button">리스트보기</button>
        </div>
    </form>
</section>

</body>
</html>