<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{/layout}"
>

<section layout:fragment="content" class="section_write">
    <form method="post">
        <div class="input_1">
            <input placeholder="9791163032816"></input>
            <input placeholder="Do It 자바"></input>
        </div>
        <div class="input_2">
            <input placeholder="2021-10-27"></input>
            <input placeholder="10:12:22"></input>
            <input placeholder="12:32:12"></input>
        </div>
        <div class="input_title">
            <input placeholder="제목"></input>
        </div>
        <div class="input_content">
            <input placeholder="내용"></input>
        </div>
        <div class="btn_box">
            <button type="button" class="btn_save">저장</button>
            <button type="button">새로작성</button>
            <button type="button">리스트보기</button>
        </div>
    </form>
</section>

</body>
</html>