.section_write {
    width: 1000px;
    margin: 30px auto;
    text-align: center;
}

.input_1,
.input_2,
.input_title,
.input_content {
    display: flex;
    width: 100%;
}

.input_1,
.input_2 {
    justify-content: space-between;
}

.input_title,
.input_content {
    justify-content: center;
}

.input_1 input,
.input_2 input,
.input_title input,
.input_content input {
    height: 30px;
    margin: 10px 10px;
    padding: 15px;
    border: 1px solid lightgray;
}

.input_1 input {
    width: 50%;
}

.input_2 input:nth-of-type(1) {
    width: 50%;
}

.input_2 input:nth-of-type(2),
.input_2 input:nth-of-type(3) {
    width: 25%;
}

.input_title input,
.input_content input {
    width: 100%;
}

.input_content input {
    height: 200px;
}

.btn_box {
    display: flex;
    justify-content: flex-end;
}

